<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <filter>
    <filter-name>Charset Filter</filter-name>
    <filter-class>pk.home.voyager.web.filters.CharsetFilter</filter-class>
    <init-param>
      <param-name>requestEncoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>Charset Filter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <context-param>
    <param-name>javax.faces.STATE_SAVING_METHOD</param-name>
    <param-value>server</param-value>
  </context-param>
  <filter>
    <filter-name>PrimeFaces FileUpload Filter</filter-name>
    <filter-class>org.primefaces.webapp.filter.FileUploadFilter</filter-class>
    <init-param>
      <param-name>thresholdSize</param-name>
      <param-value>51200</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>PrimeFaces FileUpload Filter</filter-name>
    <servlet-name>Faces Servlet</servlet-name>
  </filter-mapping>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>/WEB-INF/spring/applicationContext.xml</param-value>
  </context-param>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <context-param>
    <param-name>javax.faces.DEFAULT_SUFFIX</param-name>
    <param-value>.xhtml</param-value>
  </context-param>
  <context-param>
    <param-name>javax.faces.PROJECT_STAGE</param-name>
    <param-value>Development</param-value>
  </context-param>
  <context-param>
    <param-name>javax.faces.FACELETS_REFRESH_PERIOD</param-name>
    <param-value>1</param-value>
  </context-param>
  <context-param>
    <param-name>primefaces.THEME</param-name>
    <param-value>aristo</param-value>
  </context-param>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <welcome-file-list>
    <welcome-file>faces/redirect.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Faces Servlet</servlet-name>
    <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Faces Servlet</servlet-name>
    <url-pattern>/faces/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>The Image Servlet</description>
    <display-name>Image</display-name>
    <servlet-name>Image</servlet-name>
    <servlet-class>pk.home.voyager.web.Image</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Image</servlet-name>
    <url-pattern>/Image</url-pattern>
  </servlet-mapping>
</web-app>
<!--  Полезное !!!!! -->
<!-- <context-param> -->
<!--     <param-name>com.icesoft.faces.uploadDirectory</param-name> -->
<!--     <param-value>upload</param-value> -->
<!--   </context-param> -->
<!--   <context-param> -->
<!--     <param-name>com.icesoft.faces.uploadMaxFileSize</param-name> -->
<!--     <param-value>4048576</param-value> -->
<!--   </context-param> -->
<!--   <servlet> -->
<!--     <servlet-name>Persistent Faces Servlet</servlet-name> -->
<!--     <servlet-class>com.icesoft.faces.webapp.xmlhttp.PersistentFacesServlet</servlet-class> -->
<!--     <load-on-startup>1</load-on-startup> -->
<!--   </servlet> -->
<!--   <servlet-mapping> -->
<!--     <servlet-name>Persistent Faces Servlet</servlet-name> -->
<!--     <url-pattern>*.iface</url-pattern> -->
<!--     <url-pattern>*.jspx</url-pattern> -->
<!--     <url-pattern>/xmlhttp/*</url-pattern> -->
<!--     <url-pattern>/faces/*</url-pattern> -->
<!--   </servlet-mapping> -->
<!--   <servlet> -->